{
  "arrowParens": "always",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "trailingComma": "all"
}
